body {
    margin: 0;
    overflow: hidden;
    background: #fff;
}

#errors {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 2em;
    border: 1px solid #a00;
    border-radius: 1em;
    padding: 1em;
    color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    font-size: 16px;
    padding: 20px;
    overflow-y: auto;
    display: none;
}

p {
    margin: 0.5em 0;
}
